#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: gray;
}

#drum-machine {
  background-color: #d3d3d3;
  border: 5px solid #ffc000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-pad {
  display: flex;
  background-color: gray;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.25rem;
  margin: 0.5rem;
  box-shadow: 4px 2px 5px;
}

.pad-grid {
  width: 400px;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  margin-right: auto;
}

#display {
  margin: auto;
  text-align: center;
}

.sample-name {
  background-color: gray;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
