#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background-color: midnightblue;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "allClear allClear divide multiply"
    "seven eight nine minus"
    "four five six plus"
    "one two three equals"
    "zero zero decimal equals";
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  background: gray;
  padding: 25px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: 3px solid black;
  transition: color 0.3s, border 0.3s; /* Transition effect for a smooth change */
}
.button:hover {
  color: black;
  border-color: white;
}

.allClear {
  grid-area: allClear;
}

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multiply;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.minus {
  grid-area: minus;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.plus {
  grid-area: plus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.equals {
  grid-area: equals;
}

.zero {
  grid-area: zero;
}

.decimal {
  grid-area: decimal;
}
