#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background-color: midnightblue;
}

.container {
  background-color: black;
  width: 375px;
  border-radius: 5px;
}

#display {
  display: flex;
  justify-content: right;
  height: 3rem;
  color: white;
  font-family: monospace;
  font-size: 2rem;
  align-items: center;
  margin-right: 1rem;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5rem;
  background: gray;
  padding: 25px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: 2px solid grey;
  transition: color 0.3s, border 0.3s; /* Transition effect for a smooth change */
}
.button:hover {
  color: black;
  border: 1px solid white;
}

.clear {
  grid-area: clear;
}

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multiply;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.subtract {
  grid-area: subtract;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.add {
  grid-area: add;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.equals {
  grid-area: equals;
}

.zero {
  grid-area: zero;
}

.decimal {
  grid-area: decimal;
}
